body {
  background-color:#4070f4;
}
.box-model {
  background-color: white;
  width: 400px;
  margin: 7% auto;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border: 1px solid lightgrey;
  border-radius: 15px;
  padding: 10px;
}
.text-box {
  border: 1px solid lightgrey;
  border-radius: 5px;
  height: 35px;
  width: 80%;
  margin: 10px;
  text-align: left;
  padding: 5px;
}
.forgot-password {
  text-decoration: none;
  color: #4070f4;
  font-size: 14px;
}
.login-btn{
  border: 1px solid;
  border-radius: 5px;
  height: 40px;
  width: 80%;
  margin: 10px;
  text-align: center;
  padding: 5px;
}

.internal-login-btn{
  background-color: #4070f4;
  color: white;
}


.text-center{
  text-align: center;
}
.hr-text {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 1.5em;
  opacity: .5;
  &:before {
      content: '';
      background: linear-gradient(to right, transparent, #818078, transparent);
      position: absolute;
      left: 0;
      top: 50%;
      width: 100%;
      height: 1px;
  }
  &:after {
      content: attr(data-content);
      position: relative;
      display: inline-block;
      color: black;
      padding: 0 .5em;
      line-height: 1.5em;
      color: #818078;
      background-color: #fcfcfa;
  }
}

.margin-bottom-5 {
  margin-bottom : 5px;
}
.margin-bottom-10 {
  margin-bottom : 10px;
}
.seprator{
  margin-top: 10px;
  margin-bottom: 10px;
}
.social-login-btn {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
}

.social-btn-img {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  width: 20px;
  height: 20px;
  border-radius:25px;
  color: black;
  background-color: white;
}

.google-login-btn {
  background-color: white; 
  border-color: rgb(213 210 210);
}
.fb-login-btn{
  background-color: #4166b0;
  color: white;
}
.login-form h2{
  text-align: center;
  font-size: 30px;
}

/* Signup CSS */

.signup-btn{
  border: 1px solid;
  border-radius: 5px;
  height: 40px;
  width: 80%;
  margin: 10px;
  text-align: center;
  padding: 5px;
  background-color: #4070f4;
  color: white;
}

.signup-form h2{
  text-align: center;
  font-size: 30px;
} 

.already-have-account {
  text-decoration: none;
  color: #4070f4;
  font-size: 14px;
}